{{define "title"}}Home{{end}}
{{define "main"}}
<h2>My posts</h2>
{{if .Posts}}
<table>
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
    </tr>
    {{range .Posts}}
    
    <tr>
        <td><a href='/post/view?id={{.ID}}' title="{{.Content}}">{{.Title}}</a></td>
        <td>{{humanDate .Created}}</td>
        <td>#{{.ID}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>You have no snippets yet...</p>
{{end}}
{{end}}
